*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    
}

ul,ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list_inline li{
    display: inline-block;
}

.clr::after{
    clear: both;
    display: table;
    content:"";
}

.fleft{
    float:left;
}

.fright{
    float:right;
}

.txt_center{
    text-align: center;
}

.txt_right{
    text-align: right;
}

/*============== STYLING ==============*/
.container{
    max-width: 1120px;
    margin:0 auto;
}

.content{
    width: 300px;
    height: 300px;
    border:1px solid #000;
    position: relative;
    display: none;
}

.content .title{
    position: absolute;
    top: 50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%) ;
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}



